.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-box
      .group-name
        = @group.name
      .group-member
        - @group.users.each do |user|
          = user.name
    .main-chat__group-info__right-box
      .edit
        = link_to edit_group_path(current_user),class: 'edit_color' do
          = "Edit"
  .main-chat__messages
    = render @messages
    
  .main-chat__form
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__image
          = f.label :image, class: 'form__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'